.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 1px solid grey;
    padding: 15px;
    max-width: 250px;
    margin: 15px;
    &__title{
        font-weight: 600;
    }
}