.movie-card {
  width: 237px;
  &__image {
    height: 350px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &-title {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      color: #353535;
    }
    &-score {
      color: rgb(0, 0, 151);
      font-weight: 700;
      font-size: 12px;
    }
  }

  &__data {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    &-premiere {
        color: grey;
    }
    &-lasting {
        color: grey;
    }
  }
}
