<app-navbar></app-navbar>

<div class="movie-container">
  <app-movie-card
    *ngFor="let pelicula of peliculas"
    [titulo]="pelicula.titulo"
    [score]="pelicula.rating"
    [premiere]="pelicula.fecha_estreno"
    [lasting]="pelicula.duracion"
    [poster]="pelicula.imagen"
    (precio)="cualEsElPrecio($event)"
  ></app-movie-card>
</div>

<div class="tarjeta" *ngFor="let post of posts">
  <div>{{ post.title }}</div>
  <div>{{ post.url }}</div>
  <img src="{{ post.thumbnailUrl }}" />
</div>

<router-outlet></router-outlet>
